.register_con{text-align:left;}
.my_page_top{ width:980px; height:14px; overflow:hidden; background:url(images/page_top.gif);}
.my_page_mid{ width:968px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:0px 5px;}
.my_page_bot{ width:980px; height:14px; overflow:hidden; background:url(images/page_bot.gif);}
.re_select{ width:220px;}
.register_top{ width:949px; margin:0px auto; height:42px; line-height:42px; color:#EE7520; font-family:"΢ź",""; text-align:center; font-size:20px; border-bottom:1px solid #dcdcdc; margin-bottom:10px;}
.re_tb_div table{ color:#707070;}
.re_tb_div table .txt{ width:220px; padding-left:2px; height:31px; border:none; background:url(images/re_txt_bg.gif); line-height:31px; text-indent: 3px; }
.re_tb_div table .validate_error{ width:237px; height:33px; background:url(images/re_ti1bg.gif); color:#EB6000; padding-left:37px; line-height:33px;}
.re_tb_div table .validate_tip{ width:237px; height:33px; background:url(images/re_ti2bg.gif); color:#0075A9; padding-left:37px; line-height:33px;}
.re_tb_div table .validate_success{background:url(images/re_right.gif) no-repeat;padding-left:20px; line-height:20px;height:20px;width:237px;}
.re_tb_div table .reload img{margin-top:10px;}
.re_clause{ padding-left:250px; font-size:12px;}
.re_clause input{ vertical-align:middle;}
.re_clause a,.re_yzm a{ font-size:12px; color:#EB6100;}
.re_qrzcbt{ width:188px; height:38px; background:url(images/re_qrzcbt.gif); border:none;}
.re_savebt{ width:188px; height:38px; background:url(images/savebtbg.gif); border:none;}
.re_mmqd .w{ width:80px; position:absolute; left:62px; top:8px; overflow:hidden; padding:1px; height:5px; border:1px solid #42BF26;}
.re_mmqd .w .l{ background:#42BF26; width:80px; height:5px; overflow:hidden;}
.re_yzm img{ position:absolute; top:52px; left:0px; width:98px; height:28px; border:1px solid #B5B5B5;}
.re_yzm a{ position:absolute; top:60px; left:110px; }
.re_mmqd{ position:relative; padding-top:3px; padding-top:5px\9; font-size:12px;}
.re_mmqd span{ color:#19A631; position:absolute; left:155px; top:4px;}
a.next_step{ font-size:12px; text-decoration:underline;}
.re_suc_div{ width:573px; margin:0px auto;}
.re_suc_t{ height:52px; margin-bottom:15px; line-height:52px; color:#EB6100; font-size:24px; font-family:"΢ź",""; text-align:center;}
.re_suc_con{ padding-bottom:20px;}
.re_suc_con .re_top{ width:573px; height:5px; overflow:hidden; background:url(images/re_suctopbg.png);}
.re_suc_con .re_bottom{ width:573px; height:5px; overflow:hidden; background:url(images/re_sucbotbg.png);}
.re_suc_con .re_middle {color:#EB6100;font-size:12px;background: none repeat scroll 0 0 #F9F9F9;border-left: 1px solid #DCDCDC;border-right: 1px solid #DCDCDC;padding: 40px;position: relative;width: 491px;text-align:center;}
.re_suc_con .re_middle .xz_zl{ margin-bottom:20px; margin-top: 3px;}
.re_suc_con .re_middle .xz_zl a{ color:#EB6100;}
.re_suc_con .resuc_tx{ width:80px; height:80px; border:1px solid #BEBEBE; position:absolute; left:105px; top:35px;}
.re_suc_con .re_middle_item{margin:10px 0;}
